body {
    margin: 0;
    font-family:sans-serif;
    overflow-x: hidden;
}
.content {
    margin-top: 200px; 
  }
  
   .background-image {
   margin-left: 400px;
    display: flex;
    height: 30%;
    width: 80%;
   
  } 
  
  .background-image img {
    width: 60%;
    height: 50%;
    
    object-fit: cover;
  }
  
  .text-home {
    background-color:white;
    color:rgba(10, 243, 228, 0.6);
    font-size: 6vw; 
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    text-align: center !important;
    position: absolute !important;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    mix-blend-mode: multiply;
  }
  
  .service-header {
      text-align: center;
      margin-top: 25px;
      font-size: 24px;
      text-shadow: 5px 3px 5px rgb(161, 218, 237);
  }
  .service-box{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 40px;
      
  }
  
  .sbox1 h2 {
    color: #033641;
    font-weight: bold;
    text-shadow: 2px 3px #3FD2C7;
   
    display: inline-block; 
     
  }
  .sbox1 img {
    width: 60px;
    height: auto;
    padding-left: 15px;
    display: inline-block;
  }
  .service-box div{
      color: #141515;
      text-align: center;
      width: 100px;
      height: 200px;
      margin: 10px;
      flex-basis: 25%;
      border: 3px solid black;
      box-shadow: 7px 7px 7px 6px #6daca8;
      transition:
      width 2s,
      height 2s,
      background-color 2s,
      rotate 2s;
      transition: all 0.5s ease-in-out;
  }
  
  .service-box div:hover {
      width: 200px;
      height: 200px;
      transform: rotate(360deg) scale(1.2);
      
    }
  
    span.psw {
      float: right;
      padding-top: 16px;
    }
    
   
    .modal {
      display: none; 
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; 
      overflow: auto;
      background-color: rgb(0,0,0); 
      background-color: rgba(0,0,0,0.4); 
      padding-top: 60px;
    }
    .modal-content {
      background-color: #e1edef;
      margin: 5% auto 15% auto; 
      border: 1px solid #888;
      width: 30%; 
      height: 60%;
      box-shadow: 5px 2px rgb(93, 223, 235) rgb(132, 232, 245);
      z-index: 2;
    }
    
  
    .close {
      position: absolute;
      right: 25px;
      top: 0;
      color: #000;
      font-size: 35px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: red;
      cursor: pointer;
    }
    
    
    .animate {
      -webkit-animation: animatezoom 0.6s;
      animation: animatezoom 0.6s
    }
    
    @-webkit-keyframes animatezoom {
      from {-webkit-transform: scale(0)} 
      to {-webkit-transform: scale(1)}
    }
      
    @keyframes animatezoom {
      from {transform: scale(0)} 
      to {transform: scale(1)}
    }
    
  
    @media screen and (max-width: 300px) {
      span.psw {
         display: block;
         float: none;
      }
      .cancelbtn {
         width: 100%;
      }
    }
   
   .slider-container-home {
    padding-top: 30px;
    align-items: center;
    background: #ffffff;
    display: flex;
    height: auto;
    justify-content: center;
  }
  
  .slider-home {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(191, 246, 240, 0.429);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .slider-home::before,
  .slider-home::after {
    background: linear-gradient(to right, rgb(217, 247, 246) 0%, rgba(177, 248, 242, 0.797) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  
  .slider-home::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  
  .slider-home::before {
    left: 0;
    top: 0;
  }
  
  .slide1 img {
    padding-top: 15px;
    height: 60px;
    width: 100px;
  }
  
  .slide-track {
    animation: scroll 10s linear infinite;
    display: flex;
    width: calc(270px * 14);
  }
  
  .slide1 {
    height: 150px;
    width: 250px;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 4 + 250px));
    }
  }
  .finders{
    text-align: center;
    margin-top: 10px;
    h2{
      margin-top: 10px;
      padding: 30px;
      background-color: #c9fbf7;
      color: white;
    }
  }
  .column-finder {
    float: left;
    width: 25%;
    padding: 10px 15px;
  } 
  
  .row-finder {
    padding-top: 100px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    padding-bottom: 50px;
    background-color: #c4f1ee;
    width: 100%;
  }
   .column-finder{
   
    background-color: white;
    width: 400px;
    height: 400px;
    border: 3px solid black;
    margin: 3px;
    box-shadow: 5px 10px 10px rgb(115, 114, 114) ;
  } 

  .card-finder{
    h3{
      text-align: center;
      color: #3FD2C7;
      font-weight: bold ;
      font-size: 26px;
      display:inline-block;
    }
    hr{
      color: #59fbf0;
      width:250px;
    }
    img{
      margin-top: 14px;
      width: 40px;
      height: 40px;
      display: inline-block;
      position: relative;
    }
    #btn{
      color: rgb(0, 0, 0);
      margin: 2px;
      border: 2px solid #05a79c;
      font-size: 20px;
      font-weight: bold;
      width: 180px !important;
      height: 50px !important;
      float: right;
      background-color: #1ef8df;
    }
    p{
      text-align: center;
      font-size: 20px;
       line-height: 2;
    }
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column-finder {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  .visa {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
 }
  
  .side_image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .rowa img {
    height:500px; 
    width: 100%;
    max-width: 500px; 
  }
  
  .rowb {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #vi-cal {
    width: 100%;
    background-color: #c5f6f6;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    margin-bottom: 2px;
  }
  
  .scroll {
    margin: 0 auto;
    width: 70%;
    background-color: #f9f6f6;
  }
  
  .scroll h2 {
    text-align: center;
  }
  
  .progress-container {
    width: 100%;
    height: 10px;
    background: #6b6a6a;
  }
  
  .progress-bar {
    height: 10px;
    background: #06c5ae;
    width: 50%; 
  }
  
  .content-visa {
    padding: 20px; 
    margin: 50px auto 0 auto;
    width: 80%;
  }
  .content-visa h2{
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 4px rgb(121, 227, 245);
    font-size: 28px;
  }
  .content-visa dd{
    background-color: #def8f6;
    border-radius: 10px;
    color: #000;
    padding: 5px 10px; 
    border:2px solid rgb(29, 230, 245);
    font-weight: bold;
    padding: 10px;
    line-height: 1.5;
    width:95%;
    font-size: 16px;
  }
.content-visa b{
    margin-left: 30px;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
     border: 2px solid black;
     background-color: #59fcf1;
}
.content-visa p{
  padding-left: 30px;
  font-weight: bold;
  line-height: 1.5;
}
  
  .flex-item{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    padding-left: 100px;
    padding-right: 100px;
  }
  .form-reg{
    input[type="radio"]{
      margin-right: 10px;
       
    }
    input[type="text"], input[type="password"]{
      width: 500px;
      height: 40px;
    }
     input[type="tel"], input[type="date"],#remark{
      width: 490px;
      height: 40px;
    }
    #city,#country,#state{
      width: 500px;
      height: 40px;
    }
    #button-reg{
      width: 500px;
      height: 50px;
      color: white;
      background-color: #87f8f1;
      border: 2px solid #06faea;
      transition: transform 0.3s ease-in;
      text-align: center;
      font-size: large;
      font-weight: bold;
    }
    #button-reg:hover {
      background-color: rgb(163, 238, 243) !important; 
      color: rgb(0, 0, 0);
      border: 2px solid rgb(7, 253, 237);
      width: 500px;
      height: 50px;
      transform: scale(0.9);
      text-align: center;
      font-size: large;
      font-weight: bold;
    }
  }
  .display-items{
    display: flex;
    justify-content: space-around;
  }
  .loader1 {
    border: 9px solid #f3f3f3;
    border-radius: 70%;
    border-top: 16px solid #94eef5;
    width: 70px;
    height: 70px;
    margin-left: 40%;
    -webkit-animation: spin 5s linear infinite; 
    animation: spin 1s linear infinite;
  }
  
 
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .more{
    img{
    width:180px;
    height: 50px;
    padding-left: 200px;
    }
  }
  .flag{
    h2{
      display: inline-block;
      
    }
    img{
      height: 100px;
      width: 200px;
      display: inline-block;
    }
  }
  #button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 60px;
    color: white;
    background-color: #87f8f1;
    border: 2px solid #06faea;
    margin: auto;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.3s ease-in;
  }
  #button:hover{
    background-color: rgb(163, 238, 243) !important; 
    color: rgb(0, 0, 0);
    border: 2px solid rgb(7, 253, 237);
    transform: scale(0.9);
  }
  
  

.chat-popup {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px !important;
    width: 290px !important;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 70px;
    z-index: 1000;
  }
  
  .chat-popup-header {
    background-color: #38fdf0;
    color: #fff;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px !important;
  }
  
  .chat-popup-title {
    font-size: 19px;
    width: 500px !important;
  }
  
  .chat-popup-close {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  
  .chat-popup-body {
    padding: 15px;
   p{
    font-size: 14px;
   }
  }
  
  .floating-chat-circle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px !important;
    height: 60px !important;
    background-color: #b1f3ef;
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border : 3px solid rgb(31, 249, 49);
  }
  
  .floating-chat-circle img {
    width: 30px;
    height: 30px;
    margin: 5px;
   
  }
  .chat-popup-footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
   background-color: azure;
  }
  #chatInput{
    padding: 7px;
    flex-grow: 1; 
    border: 2px solid rgb(126, 230, 247);
    display: inline;
    width:180px;
  }
  #btn-chat{
    color: rgb(0, 0, 0);
    text-align: center;
     display: inline;
      margin: 2px;
      border: 2px solid #020202;
      font-size: 20px;
      font-weight: bold;
      width: 70px;
      height: 37px;
      float: right;
      background-color: #1ef8df;
      cursor: pointer;
      position: relative;
      font-size: 16px;
  }
  