.header-nav {
  padding: 0 !important;
  margin-left: 0 !important;
  position: fixed; 
  top: 0;        
  width: 100%;     
  height: 14%;
    background: linear-gradient(to right,#bbfaf6de,#59fbf0); 
    margin-right: 10px;
    border:2px solid #3FD2C7 ;
    box-shadow: 2px 5px rgb(157, 248, 239);
    display: flex;
    justify-content: space-between;
    align-items:center;
    z-index: 1000;
} 


.navbar{
    display: flex;
    justify-content: space-evenly;
    padding-right: 15px; 
    
}
.navbar h3 a:hover{
  color: rgb(0, 0, 0);
  background-color: hsl(0, 0%, 100%);
  box-shadow: 2px 5px 5px gray;
  border-color: #0f0f0f;
}

 .navbar a{
    text-decoration: none;
    color: #0f0f0f; 
    border: 2px solid rgba(33, 241, 223, 0.947);
    padding: 8px;
    font-size: 16px !important;
} 

.error {
  color: #af4242;
  padding-left: 10px;
  display: none;
  width: 80%;
  height: 20px;
   margin: 0 auto; 
}

.error.display-error {
  display: block;
  margin-top: 0px;
  padding-left: 20px;
  text-align: left;
}

.success{
	margin-bottom: 30px;
	color: green;
	background-color: #d2ffd2;
	padding: 10px;
	display: none;
}
.success.display-success{
	display: block;
}

.navbar button {
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 3px;
  padding: 5px;
  color: #0f0f0f;
  background-color: #c5fcf8e0;
  font-size: 16px;
  font-weight: bold;
  width: 100px;
  height: 35px;
  box-shadow: 2px solid rgb(79, 78, 78);
  text-align: center;
}

.navbar button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(28, 243, 228);
  border-color: white;
  box-shadow: 2px 5px rgb(103, 101, 101);
}
.navbar h3{
  padding-top: 15px;
  margin:  20px;
  font-size: 18px ;
  font-weight: bold;
  padding-bottom: 15px;
} 


#id01 {
display: none; 
}

#id01.show {
display: block; 
}


#form{
width:500px;
height: 650px;
margin-top: 150px;

}
.container-sign{
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto;
  justify-self: center;
  background-color: transparent !important;
}
.container-log {
padding: 16px;
#btn-login{
padding: 10px;
font-size: 20px;
font-weight: bold;
box-shadow: 2px 5px 5px rgb(138, 138, 138);
border:2px solid black;
background-color: #e7fefd;
color: white;
padding: 14px 20px;
margin: 8px 0;
cursor: pointer;
width: 100%;
}
.input-group-nav{
display: flex;
flex-direction: column;
margin-bottom: 10px;
padding: 0px 10px;
}
.input-group-nav input{
border-radius: 5px;
font-size: 16px;
margin-top: 5px;
padding: 10px; 
border: 2px solid rgb(32, 190, 221);
}
.input-group-nav input:focus{
outline:0;
}

.input-group-nav .error{
color: rgb(216, 34, 34);
font-size: 16px;
margin-top: 5px;
}

.input-group-nav.success input{
border: 2px solid rgb(82, 253, 82);
}
.input-group-nav.error input{
border-color: rgb(203, 30, 30);
}
 #number{
width: 83%;
padding: 12px 15px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
border-color: #3FD2C7;
margin-left: 38px;
margin-bottom: 10px;
} 
#email1,#password1,#rpassword {
width: 80%;
padding: 12px 15px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
border-color: #3FD2C7;
margin-left: 5px;
}
}
#btn-login2 {
  width: 80% !important;
  background-color: #59fbf0;
  color: white;
  border: none;
  padding: 10px 20px;
  box-shadow: 2px 4px 5px gray;
  transition: transform 0.3s ease;
  margin: 0 auto;
}

#btn-login2:hover {
  border: 2px solid rgb(245, 245, 245);
  color: black;
  background-color: #59fbf0;
  font-weight: bold;
  transform: scale(1.1); 
}

.cancelbtn-r {
margin-top: 30px;
width:20%;
height: 40px;
border: 2px;
border-color: #0f0f0f;
color: beige;
font-weight: bold;
padding: 10px 18px;
background-color: #f71111;
margin-right: 20px;
}
.psw {
margin-top: 30px;
font-size: 14px !important;
a{
  font-size: 14px !important;
}
}

.imgcontainer {
text-align: center;
margin: 20px 0 2px 0;
position: relative;
}

img.avatar {
width: 100px;
height: 100px;
border-radius: 5%;
} 

