body{
    margin: 0;
  }
  /* .glow h1{
      padding-top: 10px;
      color:rgb(13, 173, 171);
      text-align: center;
      padding-bottom: 30px;
      border-width: 100%;
      height: 120px;
     font-size: 22px;
     width: 100%;
     height: 30%;
     background-color: #b6b7b7;
  }
   */
  .glow {
      margin-top: 120px;
      font-size: 40px;
      color: #000000;
      text-align: center;
      animation: glow 1s ease-in-out infinite alternate;
    }
    
    @-webkit-keyframes glow {
      from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #8d8e8e, 0 0 40px #a8adac, 0 0 50px #656565, 0 0 60px #bbbdbd, 0 0 70px #9a9d9d;
      }
      
      to {
        text-shadow: 0 0 20px #fff, 0 0 30px #b9b9b9, 0 0 40px #c2c5c5, 0 0 50px #969797, 0 0 60px #b2b6b6, 0 0 70px #cccdcc, 0 0 80px #b2b6b6;
      }
    }
  .box-container{
  
      display: grid;
      direction: column;
      gap:30px;
      grid-template-columns: auto;
  }
  * {box-sizing: border-box}
  .skill-progress{
      position: relative;
      width: 80%;
     
      margin-left: 150px;
  }
  .containers {
   
    width: 100%;
    background-color: #dddddd;
  }
  
  .skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }
  
  .a1 {width: 97%; background-color: #20fdac;}
  .a2 {width: 92%; background-color: #c2fc30;}
  .a3 {width: 88%; background-color: #4bf6fe;}
  .a4 {width: 78%; background-color: #446bee;}
  
  .a5 {width: 62%; background-color: #850ff4;}
  .a6 {width: 50%; background-color: #f51bfc;}
  .a7 {width: 32%; background-color: #ff7c44;}
  .a8 {width: 24%; background-color: #f94949;}
  
  
  
  .timeline {
      
      position: relative;
      margin: 0 auto;
    }
    
    
    .timeline::after {
      content: '';
      position: absolute;
      width: 6px;
      background-color: rgb(169, 249, 236);
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -3px;
    }
  
    .containert {
      position:relative;
      background-color: rgb(231, 241, 241);
      width: 50%;
    }
    
    
    .containert::after {
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      right: -17px;
      background-color: rgba(5, 192, 205, 0.744);
      border: 4px solid #330469;
      top: 15px;
      border-radius: 50%;
      z-index: 1;
    }
    
    
    .left1 {
      left: 0;
    }
    
  
    .right1 {
      left: 50%;
    }
    .contents h2{
      color:rgb(55, 8, 97);
    }
    
    .left1::before {
      content: " ";
      height: 0;
      position: absolute;
      top: 22px;
      width: 0;
      z-index: 1;
      right: 30px;
      border: medium solid rgb(97, 93, 93);
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent white;
    }
    
    
    .right1::before {
      content: " ";
      height: 0;
      position: absolute;
      top: 22px;
      width: 0;
      z-index: 1;
      left: 30px;
      border: medium solid rgb(188, 183, 183);
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
    
    .right1::after {
      left: -16px;
    }
    
  
    .contents {
       padding: 20px 30px; 
      background-color: rgb(166, 164, 164);
      position: relative;
      border-radius: 6px;
    }
    
    
    @media screen and (max-width: 600px) {
    
      .timeline::after {
      left: 31px;
      }
      
     
      .containert {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
      }
      
      
      .containert::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
      }
    
   
      .left1::after, .right1::after {
      left: 15px;
      }
      
      
      .right1 {
      left: 0%;
      }
    }
  
  
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      width:300px;
      margin: auto;
      text-align: center;
      font-family: arial;
      img{ 
          width: 100px;
          height: 300px ;
      }
    }
    
    .title {
      color: grey;
      font-size: 18px;
    }
    
    button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }
    
    a {
      text-decoration: none !important;
      font-size: 17px !important;
      color: black !important;
    }
    
    button:hover, a:hover {
      opacity: 0.7;
    }
  
    .our-employee{
      display: grid;
      grid-template-columns: auto auto auto auto;
      justify-content: space-evenly;
      
    }
  